[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git
[submodule "zed-ros2-examples"]
	path = zed-ros2-examples
	url = git@github.com:stereolabs/zed-ros2-examples.git
